<header id="header">
        <div>
            <span ><img src="{{ site.baseurl }}{{site.logo }}" alt="{{ site.title }}" class="logo" /></span>
        </div>
        <div class="content">
            <div class="inner">
                <h1>{{site.title}}</h1>
                <p>{{site.description}}</p>
            </div>
        </div>
        <nav>
            <ul>
                {% for panel in site.panels %}
                    <li><a href="#{{ panel.html_id }}">{{ panel.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>